@using UCommerce.EntitiesV2
@using UConnector.MvcApplication.Cogs.Models
@using UConnector.MvcApplication.Controllers
@using UConnector.MvcApplication.Models
@model IndexModel
@{
    ViewBag.Title = "Home Page";
}

@helper PrintProducts(IEnumerable<Product> products)
{
    <ol>
        @foreach(var product in products)
        {
            <li>
                @product.Name - @product.Sku
                <ul>
                @foreach (var vartiant in product.Variants)
                {
                    <li>
                        @vartiant.VariantSku    
                    </li>
                }
                </ul>
            </li>
        }
    </ol>
}

@helper PrintCatagories(IEnumerable<Category> categories)
{
    <ul>
        @foreach (Category item in categories)
        {
            <li>
                @item.Name - 
                    @Html.ActionLink("Excel", "Download", "Home", new {id = item.CategoryId, typeName = "Category", type = DownloadAs.Excel}, null)
                    / 
                    @Html.ActionLink("Csv", "Download", "Home", new {id = item.CategoryId, typeName = "Category", type = DownloadAs.Csv}, null)
                
                @PrintProducts(item.Products)

                @PrintCatagories(item.GetCategories())
            </li>
        }
    </ul>
}

<fieldset>
    <legend>Export Products</legend>
    <ul>
        @foreach (ProductCatalogGroup productCatalogGroup in Model.ProductCatalogGroups)
        {
            <li>
                @Html.ActionLink(productCatalogGroup.Name, "Download", "Home", new {id = productCatalogGroup.ProductCatalogGroupId, typeName = "ProductCatalogGroup"}, null)
                <ul>
                    @foreach (ProductCatalog productCatalog in productCatalogGroup.ProductCatalogs)
                    {
                        <li>
                            @Html.ActionLink(productCatalog.Name, "Download", "Home", new {id = productCatalog.ProductCatalogId, typeName = "ProductCatalog"}, null)
                        
                            @PrintCatagories(productCatalog.GetRootCategories())
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</fieldset>


@*<fieldset>
    <legend>ProductCatalogs</legend>
    @foreach(var item in Model.ProductCatalogs)
    {
        <p>
            @Html.ActionLink(item.Name, "Download", "Home", new { id = item.ProductCatalogId, typeName = "ProductCatalog" }, null)
        </p>
    }
</fieldset>


<fieldset>
    <legend>Categories</legend>
    
</fieldset>*@